body{
	padding: 0px; margin: 0px; background-image: url(ok.jpg); width: 100%; height: 2000px; background-size: cover; background-repeat: no-repeat; 
}
nav{
	background-color: grey; width: 100%; height: 60px; margin-top: 10px;
} 
nav ul{
	display: flex; flex-direction: row; list-style: none; margin: 10px;  justify-content: flex-end; background: grey;
}
nav ul li{
	margin: 20px; 
}
ul li a{
	font-family: Arial; border: 1px solid;  
}
ul li a:hover{
	background-color: yellow;  
}


.u{
	width: 90%;
	height: auto;
}
.m{
	background-image: url(ccc.PNG);
	background-size: cover;
	height: 500px;
	width:60%;
	margin-left: 20%;
}
.a{
	display: flex;
	flex-direction: row;
	

}
.n{
	height: 300px;
	margin: 1%;
	width: 50%;
	background-color: blue;
	margin-left: 5%;

}
footer{
	height: 350px;
	width: 90%;
	margin: 1%;
	background-color: green;
	margin-left: 5%;
	display: flex;
	flex-direction: row;
}
.ok{
	height: 300px;
	width: 30%;
	margin: 20px;
	background-color: white;

}
@media(max-width: 1200px){
	.n{
		margin-top: 70%;

	}



