body{
	padding: 0px; margin: 0px; background-image: url(ok.jpg); width: 100%; height: 2000px; background-size: cover; background-repeat: no-repeat; 
}
nav{
	background-color: grey; width: 100%; height: 60px; margin-top: 10px;
} 
nav ul{
	display: flex; flex-direction: row; list-style: none; margin: 10px;  justify-content: flex-end; background: grey;
}
nav ul li{
	margin: 20px; 
}
ul li a{
	font-family: Arial; border: 1px solid;  
}
ul li a:hover{
	background-color: yellow;  

}
.outer{
padding: 20px;

}

.first{
	background-color: #26252d;
	width: 30%;
	float: left;
	height: 1060px;
	margin-top: 20px;

}
.don{
	height: 250px;
	width: 90%;
	background-color: white;
	margin: 3%;
	background-image: url(doo.jpg);
	background-size: cover;
}
.rat p{
	color: #f18529;
	text-align: center;

}
.zz{
	display: flex;
	flex-direction: row;
	
	justify-content: space-between;
}
.pp{
	height: 100px;
	width: 27%;
	margin: 3%;
background-image: url(ui.png);
background-size: cover;

}
.cc{
	height: 100px;
	width: 27%;
	margin: 3%;
background-image: url(goat.jpg);
background-size: cover;


}
.gg{
	height: 100px;
	width: 27%;
	margin: 3%;
background-image: url(pro.jpg);
background-size: cover;

}


.yak{
	color:#f18529 ;
}
.inner{
	width: 60%;
	height: 1030px;
	float: left;
	background-color: #99C;
	padding: 15px;
}
.info{
	text-align: center;
}
.info h1{
	font-size: 40px;
	font-weight: bold;
	color: #2652d;
}
.second{
	padding-top: 40px;
}
.main{
	color: #26252d;
	font-family: system ui;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0px;
}
.clearfix{
	clear: both;
}



