body{
  height: auto;
  background-image: url(ok.jpg);  height: 1000px; background-size: cover;  background-repeat: no-repeat;
}

  

.header{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: pink;

  /*padding: 0 25px;*/
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.menu{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;

}
.menu li{
  list-style-type: none;

}
.menu li a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 40px 25px;
  font-size: 18px;
  line-height: 1;

}
/*.aarati{
  position: relative;
  top: 45%;
  left: 45%;
} */
.hamburger{
  position: relative;
  width: 25px;
  height: 4px;
  margin-top: -7px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  /*z-index: 2;*/
}
.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: #fff;
  border-radius: 10px;

}
.hamburger:before {
  
  width: 25px;
  margin-top: 11.5px;
}
.hamburger:after {
  top: 6px;
  width: 25px;
}
.toggle-menu{
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}
.hamburger,
.toggle-menu{
  display: none;
}
.navigation input:checked ~ .hamburger {
  background: transparent;
}
.navigation input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}
.navigation input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}
.navigation input:checked ~ .menu {
  right: 0;
}
@media screen and (max-width: 992px) {
  .hamburger,
  .toggle-menu {
    display: block;

  }
  .header {
    /*padding: 10px 20px;*/
    height: 25px;
  }
  .menu{
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: orange ;
    width: 250px;
    height: 100%;
    margin-top: 40px;
  }
  .menu li a {
    /*padding: 30px;*/
    font-size: 24px;

  }
  .aarati{
    font-size: 10px;
  }
}








/*Portfolio*/

.u{
  width: 90%;
  height: auto;
}
.m{
  background-color: grey;
  height: 500px;
  width:60%;
  margin-left: 20%;
}
.a{
  display: flex;
  flex-direction: row;
  

}
.n{
  height: 300px;
  margin: 1%;
  width: 50%;
  background-color: blue;
  margin-left: 5%;

}
footer{
  height: 350px;
  width: 90%;
  margin: 1%;
  background-color: green;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}
.ok{
  height: 300px;
  width: 30%;
  margin: 20px;
  background-color: white;

}
@media(max-width: 1200px){
  .n{
    margin-top: 70%;

  }
}







/*Contact*/


.registration{
  width: 35%;
  margin: auto;
}
.registration h1{
  color: white;
  text-align: center;
  transform: translate(40px, 150px);
  padding: 5px;
  background-color: rgb(0, 0, 0.3);
}
.format{
  position: absolute;
  margin-top: 40%;
  width: 100%;
}

.Contact-form{
  max-width: 550px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
    transform: translate(10px, -400px);

}
.input-items{
  color: black;
  text-align: center;
  margin: auto;
  padding: 3px;
  font-size: 20px;
/*  background-color: black;*/
  width: 50%;
}
.input-items,
  .umn{
    width: 70%;
  }
  .input-items .input,
  msg textarea{
    margin: 10px 0;
    background: transparent;
    border-bottom: 2px solid;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
  }
  
  
  .not{
    background: #39b7dd;
    text-align: center;
    padding: 13px;
    border-radius: 5px;
    color: #fff;
  }







  /*CV*/

  .outer{
padding: 20px;

}

.first{
  background-color: #26252d;
  width: 30%;
  float: left;
  height: 1060px;
  margin-top: 20px;

}
.don{
  height: 250px;
  width: 90%;
  background-color: white;
  margin: 3%;
  background-image: url(doo.jpg);
  background-size: cover;
}
.rat p{
  color: #f18529;
  text-align: center;

}
.zz{
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
}
.pp{
  height: 100px;
  width: 27%;
  margin: 3%;
background-image: url(ui.png);
background-size: cover;

}
.cc{
  height: 100px;
  width: 27%;
  margin: 3%;
background-image: url(goat.jpg);
background-size: cover;


}
.gg{
  height: 100px;
  width: 27%;
  margin: 3%;
background-image: url(pro.jpg);
background-size: cover;

}


.yak{
  color:#f18529 ;
}
.inner{
  width: 60%;
  height: 1030px;
  float: left;
  background-color: #99C;
  padding: 15px;
}
.info{
  text-align: center;
}
.info h1{
  font-size: 40px;
  font-weight: bold;
  color: #2652d;
}
.second{
  padding-top: 40px;
}
.main{
  color: #26252d;
  font-family: system ui;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px;
}
.clearfix{
  clear: both;
}
/*@media(max-width: 900px){
  
  .don{
   height: 150px;
  width: 70%;
  background-color: white;
  margin: 3%;
  background-size: cover;



  }

}
*/






/*Sitereport*/


.yak{
  color:#f18529 ;
}