body{
	padding: 0px; margin: 0px; background-image: url(ok.jpg); width: 100%; height: 1000px; background-size: cover;  
}
nav{
	background-color: grey; width: 100%; height: 60px; margin-top: 10px;
} 
nav ul{
	display: flex; flex-direction: row; list-style: none; margin: 20px; justify-content: flex-end; background: grey;
}
nav ul li{
	margin: 20px; 
}
ul li a{
	font-family: Arial; border: 1px solid;  
}
ul li a:hover{
	background-color: yellow;  

}
.ppp{
	text-align: left; margin-top: 50px; font-size: 30px; margin-right:50%; 
}